<head>

    <link rel="stylesheet" type="text/css" href="/PageTransitions/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/PageTransitions/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/PageTransitions/css/animations.css" />
    
    <script src="/jquery-ui/ui/jquery.ui.effect.js"></script>
    <script src="/PageTransitions/js/modernizr.custom.js"></script>
    <script src="/PageTransitions/js/jquery.dlmenu.js"></script>
    <script src="/PageTransitions/js/pagetransitions.js"></script>

</head>


<template name="pageSlideshow">

    {{#constant}}
        
        <div id="pt-main" class="pt-perspective">
            {{> socialTopBar}}
			<div class="pt-page pt-page-{{newPageNum}}">
                <div class="page-container">
                    <div class="container">
                        
                        {{> pages}}
                    </div>
                </div>
			</div>
			<div class="pt-page pt-page-2"><h1><span>A collection of</span><strong>Page</strong> Transitions 2</h1></div>
			<div class="pt-page pt-page-3"><h1><span>A collection of</span><strong>Page</strong> Transitions 3</h1></div>
			<div class="pt-page pt-page-4"><h1><span>A collection of</span><strong>Page</strong> Transitions 4</h1></div>
			<div class="pt-page pt-page-5"><h1><span>A collection of</span><strong>Page</strong> Transitions 5</h1></div>
			<div class="pt-page pt-page-6"><h1><span>A collection of</span><strong>Page</strong> Transitions 6</h1></div>
		
		</div>
        
    {{/constant}}
    
</template>

<template name="makePages">
    {{> pages}}
</template>

<template name="pages">
    <div class="page">
          <div class="row">
            <div class="span12">
              <!--Sidebar content-->
                <h1>{{artigoTitulo}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <!--Body content-->
              <h4>{{artigoTitulo}}</h4>
              <p>{{artigoBody}}</p>
              {{teste}}
            </div>
          </div>
          <div class="row">
              <div class="">
                  
                 <button id="fullScreen" class="btn btn-primary" ><i class="icon-fullscreen icon-white"></i></button>
                <button id="previoSlide" class="btn"><i class="icon-circle-arrow-left"></i></button>
                <button id="nextSlide" class="btn"><i class="icon-circle-arrow-right"></i></button>
              
            </div>
          </div>
      </div>
</template>


